<a href="<%= user_path(user_info) %>">
  <%= gravatar_for user_info, size: 52 %>
</a>
<h1>
  <%= user_info.name %>
</h1>
<span>
  <%= link_to "view my profile", user_info %>
</span>
<span>
  <%= pluralize(user_info.microposts.count, "micropost") %>
</span>